.scroll{
    width: 100px;
    height: 100px;
    overflow-y: scroll;
    background: orange;
}
video{
    width: 100%;
}
.red{
    width: 100px;
    height: 100px;
    background: red;
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 1000;
}